@font-face {
    font-family: myfonts;
    src: local('CynthoSlabPro-Regular'), 
        url('/fonts/Cynthoslabpro-regular.woff2')format('woff2'),
        url('/fonts/Cynthoslabpro-regular.woff') format('woff'),
        url('/fonts/Cynthoslabpro-regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
:root{--color-black:#000;}
:root{--color-white:#fff;}
:root{--color-orange:#ff9b51;}
:root{--color-grey:#f5f5f5;}
:root{--color-grey-h:#ccc;}
:root{--color-blue:#007fff;}

:root{--radius:5px;}

*{
    box-sizing: border-box;
    font-family: myfonts;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

